@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('//fonts/FuturaPT-Bold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold_1.eot');
    src: url('../fonts/FuturaPT-Bold_1.eot../fonts/') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold_1.woff') format('woff'),
        url('../fonts/FuturaPT-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT-ExtraBold.eot');
    src: url('../fonts/FuturaPT-ExtraBold.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT-Heavy.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-LightObl.eot');
    src: url('../fonts/FuturaPT-LightObl.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-LightObl.woff') format('woff'),
        url('../fonts/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Futura PT';
    background: url(../images/body.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.container{
    width: 1223px;
    margin: 0 auto;
}

header{

}

.header_top{
    background: #F9F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 65px 12px 258px;
}

.header_top .address{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
    position: relative;
}

.header_top .address::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    margin: auto;
    background: url(../images/house.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 14px;
    height: 13px;
}

.header_top .phone-num{
    
}

.header_top .phone-num .phone_main{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-right: 22px;
    position: relative;
    transition: all ease .5s
}

.header_top .phone-num .phone_main::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    margin: auto;
    background: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 13px;
    height: 13px;
}

.header_top .phone-num .phone{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-right: 22px;
    position: relative;
    transition: all ease .5s
}

.header_top .phone-num .phone::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    margin: auto;
    background: url(../images/Ellipse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 4px;
    height: 4px;
}

.header_top .phone-num .phone_main:hover,
.header_top .phone-num .phone:hover{
    color: #FFBD54;
}

.header_top .phone-num .phone_main:active,
.header_top .phone-num .phone:active{
    color: #333333;
    opacity: .6;
}

.working_hours_wrapper{
    display: flex;
    align-items: center;
}

.working_hours:first-child{
    margin-right: 17px; 
    position: relative;
}


.working_hours:first-child::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto;
    background: url(../images/Group.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 14px;
    height: 14px;
}

.working_hours .day{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
}

.working_hours .day .hour{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
    margin-left: 5px;
}
/* *************************************************************** */

.header_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
}

.logo{
    width: 177.55px;
    height: 86.23px;
    object-fit: contain;
    position: absolute;
}

.logo:hover{
    opacity: .8;
}
.logo:active{
        opacity: .6;
}
.header_links{
    width: 740px;
    flex-wrap: wrap;
    position: relative;
    /* padding: 20px 0; */
}

.header_links::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    margin: auto;
    background: url(../images/active.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 14.75px;
    height: 14.75px;
}

.header_links .header_menu{
    padding: 20px 0;
    display: inline-block;
    margin-right: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    position: relative;
    
}

.header_links .header_menu::before{
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: auto;
    background: #F4FFAD;
    width: 100%;
    height: 0;
    transition: all ease .6s;
}

.header_links .header_menu:hover::before{
    height: 6px;
}

.header_links .header_menu:active{
    opacity: .6;
}

.header_links .header_menu:last-child{
    margin-right: 0;
}
.empty_block{
    width: 177.55px; 
}

.ask_question{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;
    position: relative;
}

.ask_question::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -26px;
    margin: auto;
    background: url(../images/pet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 23px;
    height: 21px;
}
/* ********************************************************** */

.hero_section{
    background: url(../images/hero-one.png), url(../images/hero-2.png);
    background-repeat: no-repeat;
    background-size: auto 800px, auto 430px;
    background-position: top left, bottom right;
    margin-bottom: 30px;
    /* height: 150vh; */
}

.hero_inner{
    display: flex;
    justify-content: flex-end;
}

.hero_right{
    width: 50%;
    padding-top: 150px;
    padding-bottom: 350px;
}

.hero_right .hero_title{
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    margin-bottom: 30px;
}

.hero_right .hero_title .blue{
    color: #78C0DE;
}

.hero_right .hero_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    width: 495px;
    margin-bottom: 38px;
}

.black_btn{
    padding: 15px 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #333333;
    border-radius: 3px;
    transition: all ease .5s;
    display: inline-block;
}

.black_btn:hover{
    color: #333333;
    background: #FFBD54;
    border-radius: 3px;
}

.black_btn:active{
    background: #FFBD54;
    opacity: .6;
}
/* ********************************************************** */

.quotes{
    position: relative;
    margin-bottom: 50px;
}

.quotes::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -30px;
    margin: auto;
    border: 1px solid #DBDBDB;
    width: 140px;
    height: 0px;
}

.quotes::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -30px;
    margin: auto;
    border: 1px solid #DBDBDB;
    width: 140px;
    height: 0px;
}
.quotes blockquote{
    margin: 0 auto;
    width: 753px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
    position: relative;
}

.quotes blockquote::before{
    content: "";
    position: absolute;
    left: -80px;    
    top: -15px;
    margin: auto;
    background: url(../images/“.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 35px;
    height: 35px;
}

.quotes blockquote::after{
    content: "";
    position: absolute;
    transform: rotate(180deg);
    right: -80px;    
    bottom: 8px;
    margin: auto;
    background: url(../images/“.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 35px;
    height: 35px;
}
/* ****************************************************** */

.middle_title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    margin-bottom: 190px;
}
/* ******************************************************* */















